<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo.Web</title>
</head>
<body>
    @RenderBody()


    @RenderSection("Scripts", required: false)
    <script src="~/js/Extensions.js"></script>
    <script src="~/js/Core.js"></script>
    <script src="~/js/Core.MVVM.js"></script>
    <script src="~/js/App.Home.js"></script>
    <script src="~/js/App.ToDo.js"></script>
    <script src="~/js/App.js"></script>
</body>
</html>
